/* Estilo Geral da Barra Lateral */
.sidebar {
    width: 90px; /* Reduza a largura conforme necessário */
    background-color: #7f7c7c;
    border-right: 4px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0; /* Reduza o padding para acompanhar a nova largura */
    height: 100%;
}

.sidebar-header h3 {
    font-size: 16px; /* Ajuste o tamanho da fonte */
}

.menu li {
    padding: 8px 15px; /* Ajuste o padding interno */
    font-size: 13px; /* Diminua o tamanho da fonte */
}

.menu .icon {
    margin-right: 8px;
    font-size: 14px; /* Ajuste o tamanho do ícone */
}

/* Ajuste o conteúdo principal para ocupar o espaço restante */
.content {
    margin-left: 90px; /* Deve ser igual à largura da sidebar */
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 180px); /* Garante que o conteúdo ocupe o restante da tela */
}
